<div class="container">


    <div class="row">

        <div class="col-md-9">


            <mat-accordion [togglePosition]="'before'">
                <mat-expansion-panel [expanded]="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Formato de Archivo
                        </mat-panel-title>
                        <mat-panel-description>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-form-field class="full-width">
                        <mat-label>Formato</mat-label>
                        <mat-select [formControl]="fileFormat">
                            <mat-option *ngFor="let format of formats" [value]="format.value">
                                {{format.description}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Culturas
                        </mat-panel-title>
                        <mat-panel-description>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-selection-list [compareWith]="compareLocales" multiple [formControl]="selectedLocales">
                        <mat-checkbox class="check-all" [indeterminate]="isAllLocalesIndeterminate()" [checked]="isAllLocalesChecked()" (change)="allLocalesSelection($event)" style="padding-left: 10px;">
                            Todos ( {{selectedLocales.value?.length || 0}} / {{locales.length}} ) 
                        </mat-checkbox>
                        <mat-divider></mat-divider>
                        <mat-list-option checkboxPosition="before" [value]="locale" *ngFor="let locale of locales;">
                            {{ locale.name }}
                        </mat-list-option>
                    </mat-selection-list>
                </mat-expansion-panel>
            </mat-accordion>

        </div>

        <div class="col-md-3">
            <button mat-raised-button color="primary" (click)="generate()" class="full-width">Generar</button>
        </div>
    </div>
</div>